
@model Examen.Models.Prospecto
@{
    ViewData["Title"] = "Evaluar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Evaluar</h1>

<div class="container">

    <div class="row">
        <form>
            <input type="hidden" asp-action="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label class="control-label">Nombre:</label>
                    <input asp-for="nombre" class="form-control" disabled>
                </div>

                <div class="col-sm-4">
                    <label class="control-label">Primer Paterno:</label>
                    <input asp-for="apellidoP" class="form-control" disabled>
                </div>

                <div class="col-sm-4">
                    <label class="control-label">Segundo Paterno:</label>
                    <input asp-for="apellidoM" class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-9">
                    <label class="control-label">Calle:</label>
                    <input asp-for="calle" class="form-control" disabled>
                </div>
                <div class="col-3">
                    <label class="control-label">N&uacute;mero:</label>
                    <input asp-for="numero" class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-9">
                    <label class="control-label">Colonia:</label>
                    <input asp-for="colonia" class="form-control" disabled>
                </div>
                <div class="col-3">
                    <label class="control-label">C&oacute;digo Postal:</label>
                    <input asp-for="codigoPostal" class="form-control" disabled>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label class="control-label">Telefono:</label>
                    <input asp-for="telefono" class="form-control" disabled>
                </div>
                <div class="col-8">
                    <label class="control-label">RFC:</label>
                    <input asp-for="rfc" class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-6">
                <div class="col-12">
                    <textarea asp-for="observaciones"></textarea>
                </div>
            </div>
            <div class="row mb-6 float-right">
                    <a asp-action="Autorizar" class="btn btn-info">Autorizar </a>

                    <a asp-action="Rechazar" class="btn btn-danger">Rechazar </a>
             </div>
        </form>
    </div>
</div>

@section Scripts{
    @{<partial name="_ValidationScriptsPartial" />}
}